<!DOCTYPE html>
<html>
  <!-- preloading crap -->
  <head>
    <title>User Leaderboard</title>
    <script src="/data/hr.js"></script>
    <link rel="stylesheet" type="text/css" href="/lb.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  </head>
  
  <!-- Main page -->
  <body>
    
    <!-- the title crap -->
    <h1>
      Clyde 3.2
    </h1>
    <h3>
      User Leaderboard
    </h3>
    
    <!-- The Leaderboard table... or should it be a table :hyperthonk:-->
    <div id="lb">
      <p id="loading">
        Loading...
      </p>
    </div>
    
    <!-- the sortby thing lol -->
    <div id="sortby">
      <p>
        Sort By:
        <select onclick="check()" id="dd">
          <option>Points</option>
          <option>Messages</option>
          <option>Real Points</option>
        </select>
      </p>
    </div>
    
    <!-- the js crap -->
    <script>
      let lb = document.getElementById("lb"),
          sortby = localStorage.getItem("sortby") || "p",
          sortfunc = () => [(a, b) => b.points - a.points, (a, b) => b.messages - a.messages, (a, b) => b.realpoints - a.realpoints][["p", "m", "r"].indexOf(sortby)], showdiv = document.createElement("div"),
          users = [], template = (u, i) => `
          <tr id="${ i <= 3 && `top${i}`}">
            <td ${i <= 3 && `id="n${i}"`} class="placement${ i <= 3 ? ` topn3` : ""}">${i}.</td>
            <td><img class="avatar" src="${u.user.displayAvatarURL}"></td>
            <td class="user-info"><a target="_blank" href="${"https://" + window.location.hostname + "/user/" + u.id}">
              <span class="username">${u.user.username}</span><span class="tag">${u.user.tag.slice(u.user.username.length)}</span>
              <div class="smol mono">ID: ${u.user.id}</div>
            </a></td>
            <td><div class="msgs"><div class="smol">MESSAGES</div><div class="mono num">${num(u.messages)}</div></div></td>
            <td class="points"><div class="smol">POINTS</div><div class="mono num">${num(u.points)}</div></td>
          </tr>`;
      if(sortby !== "p")
        document.getElementById("dd").selectedIndex = ["p", "m", "r"].indexOf(sortby);
      
      function add(val, element, html, other) {
        let adding = typeof element === "string" ? document.createElement(element) : element;
            adding.innerHTML = html;
        Object.assign(adding, other);
        return val.appendChild(adding);
      }
      function num(n) {
        let num = "" + n, format = t => `<p>${t}<p><div>${n}</div>`;
        if(num.length >= 7)
          num = format(num.slice(0, -6) + "m");
        else if(num.length >= 4)
          num = format(`${num.slice(0, -3)}.${num[num.length - 3]}k`);
        return num;
      }
      function check() {
        let dd = document.getElementById("dd"),
            si = ["p", "m", "r"][dd.selectedIndex];
        if(si !== sortby)
          sortby = si, localStorage.setItem("sortby", si), updatelb();
      }
      async function spawn() {
        users = await hr.get.user();
        console.log(users);
        let html = "<table id=\"maintable\">\n", i = 0;
        (users = users.sort(sortfunc())).forEach(u => {
          html += template(u, ++i);
        });
        
        lb.innerHTML = html + "\n</table>";
      }
      async function updatelb() {
        let table = document.getElementById("maintable");
            users = await hr.get.user();
        for (let i in (users = users.sort(sortfunc())))
          table.rows[i].cells[1].children[0].src = users[i].user.displayAvatarURL,
          table.rows[i].cells[2].children[0].children[0].innerHTML = users[i].user.username,
          table.rows[i].cells[2].children[0].children[1].innerHTML = users[i].user.tag.slice(users[i].user.username.length),
          table.rows[i].cells[2].children[0].children[2].innerHTML = `ID: ` + users[i].user.id,
          table.rows[i].cells[3].children[0].children[1].innerHTML = num(users[i].messages),
          table.rows[i].cells[4].children[1].innerHTML = num(users[i].points);
      }
      spawn();
      setInterval(updatelb, 10000);
    </script>
  </body>
</html>