body {
  background-color: rgb(100, 100, 100);
  font-family: arial;
}
h1 {
  font-size: 100px;
  margin-top: 50px;
  top: 0px;
  margin-bottom: -30px;
  padding-bottom: 0px;
  color: rgb(50, 50, 50);
  text-align: center;
}

/* Leaderboard styling */
#lb {
  border-color: rgb(200, 100, 0);
  border-radius: 20px;
  border-width: 20px;
  background-color: rgb(50, 50, 50);
  margin: 50px;
  padding: 20px;
}
#lb table {
  width: 100%;
  border-collapse: collapse;
}
#lb table td {
  font-size: 25px;
  padding: 20px;
  border-bottom: 1px solid #969696;
}
.placement {
  padding-right: 10px;
  margin-bottom: 20px;
}
#n1 {
  color: gold;
}
#n2 {
  color: silver;
}
#n3 {
  color: darkorange;
}
.num-points {
  margin-left: -1px;
}
td:second-child {
  background-color: white;
  text-align: right;
}
tr:last-child {
  text-align: center;
  border-bottom: none !important;
}
tr {
  border-bottom: 1px solid #969696;
  text-align: center;
}
a {
  color: rgb(150, 150, 150);
  text-decoration: none;
}
a:hover {
  color: gray;
}
.avatar {
  margin-top: 10px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
td span {
  color: gray;
}