body {
  background-color: rgb(100, 100, 100);
  font-family: arial;
}
h1 {
  font-size: 100px;
  margin-top: 50px;
  top: 0px;
  margin-bottom: -30px;
  padding-bottom: 0px;
  color: rgb(50, 50, 50);
  text-align: center;
}

/* Leaderboard styling */
#lb {
  border-color: rgb(200, 100, 0);
  border-radius: 20px;
  border-width: 20px;
  background-color: rgb(50, 50, 50);
  margin: 50px;
  padding: 20px;
}
#lb table {
  width: 100%;
}
#lb table td {
  padding: 20px;
  margin: 20px;
  border-bottom: 1px solid #969696;
}
td {
  font-size: 25px;
}
td:last-child {
  text-align: right;
}
a {
  color: rgb(150, 150, 150);
  text-decoration: none;
}
a:hover {
  color: gray;
}
image {
  border-radius: 50px;
  width: 25px;
  height: 25px;
}