body {
  background-color: rgb(100, 100, 100);
  font-family: arial;
}
h1 {
  font-size: 100px;
  margin-top: 50px;
  top: 0px;
  margin-bottom: 15px;
  padding-bottom: 0px;
  color: rgb(50, 50, 50);
  text-align: center;
}

/* Leaderboard styling */
#lb {
  border-color: rgb(200, 100, 0);
  border-radius: 20px;
  border-width: 20px;
  background-color: rgb(50, 50, 50);
  margin: 0 auto;
  padding: 20px;
  width: 900px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.placement {
  margin-top: 10px;
  vertical-align: central;
}
#n1 {
  color: gold;
}
#n2 {
  color: silver;
}
#n3 {
  color: darkorange;
}
#top1:hover {
  box-shadow: 0px 0px 30px gold;
	transition-duration: 0.2s;
}
#top2:hover {
  box-shadow: 0px 0px 30px silver;
	transition-duration: 0.2s;
}
#top3:hover {
  box-shadow: 0px 0px 30px rgb(200, 150, 50);
	transition-duration: 0.2s;
}
.num-points {
  text-align: right !important;
  padding-right: 50px;
}
td {
  text-align: left;
  font-size: 25px;
  vertical-align: central;
}
td:first-child {
  position: relative;
  text-align: right;
}
td:second-child {
  position: static;
  text-align: right;
  padding-right: 0px;
}
tr {
  color: gray;
  border-bottom: 1px solid #5b5b5b;
  transition-duration: 0.2s;
}
tr:hover {
  box-shadow: 0px 0px 30px #5b5b5b;
	transition-duration: 0.2s;
}
a {
  color: rgb(150, 150, 150);
  text-decoration: none;
}
a:hover {
  color: lightgray;
}
.avatar {
  margin-top: 10px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  vertical-align: central;
}
td span {
  color: gray;
}
.tag {
  font-size: 15px;
}