@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@font-face {
    font-family: "pixels";
    src: url("https://cdn.glitch.com/f4b5d0ed-1dd1-4a33-8445-bcc712fa6bd1%2FTinyUnicode.ttf?1532999321899") format("truetype");
}
h1 {
  text-decoration: none;
  font-family: arial;
}
body {
  background-color: black;
}
canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}